@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --background:#16161a;
    --secondary: #414348;
    --btn-bg: #f0735a;
    --btn-border: #010101;
    --bg-blue: #3253be;
    --bg-aquamarine: #399dc1;
    --nav-bg: #051b58;
    --txt-gray: #94a1b2;
    --txt-white: #fffffe;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

header {
    background: linear-gradient(to bottom, #399dc1, var(--background) 40%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 30px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
height: 90%;
}
  
.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar i {
    font-size: 32px;
    color: var(--bg-aquamarine);
    display: none;
}

#menu-toggle {
    display: none;
}

.navbar {
    gap: 80px;
}
  
.navbar-list {
    gap: 20px;
}

.navbar-list a {
    color: var(--bg-aquamarine);
    font-size: 20px;
    font-weight: 600;
}
  
.navbar-list li:first-child > a {
    color: var(#0a0a0a);
    font-weight: 800;
}

.cart-icon {
    border: 1px solid var();
    padding: 12px 18px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    color: var(--txt-white);
    font-size: 30px;
}

.cart {
    position: absolute;
    top: 100px;
    right: 0;
    padding: 50px 30px;
    background: linear-gradient(to top, #121e3c, var(--background));
    border-left: 1px solid var(--bg-blue);
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 65px);
    overflow-y: scroll;
    z-index: 2;
    transform: translate(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);  
}

.cart::-webkit-scrollbar {
    display: none;
  }
  
.cart h2 {
    color: var(--txt-white);
    font-size: 20px;
    font-weight: 600;
}
  
.cart-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid var(--bg-blue);
    border-radius: 10px;
}
  
.cart-item img {
    height: 65px;
    width: 65px;
}

main {
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
}

#hero {
    margin-top: 105px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
  
.hero-info h1 {
    font-size: 45px;
    width: 70%;
    min-width: 400px;
    font-weight: 800;
    background: linear-gradient(to top, #f0735a 10%, #399dc1);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
  
.hero-info p {
    font-size: 17px;
    width: 70%;
    color: var(--txt-white);
    padding-bottom: 15px;
}
  
.hero-info a {
    color: var(--txt-white);
    background-color: var(--btn-bg);
    width: 120px;
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    font-weight: 800;
}
  
.hero-card {
    width: 300px;
    background: var(--secondary);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
 }
  
.hero-card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categories {
    max-width: 1200px;
    margin: 0 auto;

}

#categories h2 {
    padding-top: 100px;
    align-items: center;
    text-align: center;
    align-items: center;
    font-size: 30px;
}

.buttons {
    border-top: 15px;
    padding: 2rem;
    display: grid;
    place-content: center;
    grid-template-columns: 300px 300px 300px;
    grid-auto-rows: 150px 150px 150px;
    gap: 40px;
    text-align: center;
    height: 550px;
}

.buttons a {
    font-size: 25px;
    text-align: center;
    font-weight: 800;
    color: var(--bg-aquamarine);
    background: #010101;
    border-radius: 12px;
    padding: 0 10px;
}

.item {
    border-radius: 1rem;
    padding: 50px 0;
}

.item:nth-child(1){
    background: url(./images/por_fecha.jpg) no-repeat center/cover;
}
.item:nth-child(2){
    background: url(./images/geo.jpg) no-repeat center/cover;
}
.item:nth-child(3){
    background: url(./images/subgeneros.jpg) no-repeat center/cover;
}
.item:nth-child(4){
    background: url(./images/bands.jpg) no-repeat center/cover;
}
.item:nth-child(5){
    background: url(./images/tamaños.jpg) no-repeat center/cover;
}
.item:nth-child(6){
    background: url(./images/precios.jpg) no-repeat center/cover;
}


#aboutus {
    max-width: 1200px;
    display: flex;
    padding: 70px, 30px;
    width: 100%;
    justify-content: space-around;
    color: whitesmoke;
    flex-wrap: wrap;
    gap: 50px;
}

.aboutus h2 {
    text-align: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.aboutus-info-container {
    align-items: center;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
}

.info-container h2 {
    text-align: center;
    width: 90%;
    align-items: center;
    font-size: 30px;

}

.info-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-column h3 {
    font-size: 26px;

}

.info-column p,
.info-column a{
    display:flex;
    align-items: center;
    gap: 10px;
}

.info-column a {
    text-decoration: none;
    color: whitesmoke;
}

iframe {
    height: 350px;
    width: 400px;
}

footer {
    background-color: var(--secondary);
    color: whitesmoke;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    font-size: 15px;
}

#login {
    margin-top: 100px;
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    color: var(--txt-white);
    width: 100%;
    height: 85vh;
}

#login h1 {
    font-size: 40px;
    background: linear-gradient(to top, #f0735a 30%, #399dc1 70%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 900;
}

.formlog {
    background: var(--secondary);
    margin: 5px 0 ;
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
}

#register {
    margin-top: 100px;
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: var(--txt-white);
    width: 100%;
    height: 85vh;
}

#register h1 {
    font-size: 40px;
    background: linear-gradient(to top, #f0735a 30%, #399dc1 70%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 900;
}

.formreg {
    background: var(--secondary);
    margin: 15px 0 ;
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;

}

.button {
    margin-top: 20px;
    color: var(--txt-white);
    background-color: var(--btn-bg);
    width: 120px;
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    font-weight: 800;
}
